h1 {
    color:rgb(0, 68, 253);
    font-weight: bold;
    font-size: xx-large;
}
body {
    background-color: silver;
}
p {
    color: rgb(0, 68, 253);
    font-size: x-large;
    font-weight: bold;
}